.main-header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content {
    
}
.social-icons{
    display: flex;
    justify-content: end;
    font-size: 40px;
   
}
.social-icons a{
    margin-right: 10px;
    color: white;
}